[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
requests = "==2.22.0"
pyyaml = "==5.1.2"
ebaysdk = "==2.1.5"

[requires]
python_version = "3.8"
